# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# distro
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# installers
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# unit test
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# web:
*.log
local_settings.py
instance/
.webassets-cache

# sphinx
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# env
venv/
ENV/
.env
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# PyCharm
.idea
.idea_modules/

# CMake
cmake-build-*/
